# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnements virtuels
.env/
.venv/
env/
venv/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
# ...ajoute ici d'autres patterns spécifiques à ton